span.spacer1 {
    width: 1em;
}

span.spacer2 {
    width: 2em;
}

span.spacer3 {
    width: 3em;
}

.settingContainer {
    overflow: hidden;
}

.entryContainer {
    overflow-y: auto;
    height: 95%;
}